body {
	margin: 0;
	
	width: 100vw;
	min-height: 100vh;
	height: auto;
	background: whitesmoke;
}

header {
	margin: 0;
	
	width: 100vw;
	height: 10vh;
	background: rgba(233, 233, 233, 0.5);
	
	position: sticky;
	z-index: 10;
	top: 0;
	backdrop-filter: blur(5px);
	box-shadow: 0px 5px 25px 3px gray;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	gap: 60vw;
}

.icon_of_company {
	height: 10vh;
	width: 10vw;
	position: relative;
	left: 0px;
}

img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
	text-decoration: none;
}

.header_button {
	background: transparent 50%;
	/* backdrop-filter: ; */
	border-radius: 20px;
	border: 1px dashed transparent;
	
	font-size: 1.6vh;
	color: black;
}

.header_button:hover {
	/* text-decoration: underline; */
	border: 1px dashed gray;
}

main {
	width: 100vw;
	min-height: 100vh;
	height: auto;
	background: whitesmoke;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reg_form {
	width: 30vw;
	height: 60vh;
	background-color: pink;
	
	border-radius: 20px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.input_label_block {
	margin: 3px;
	font-family: cursive;
	font-size: 20px;
	gap: 100vw;
}

.input_reg {
	border-radius: 10px;
	font-family: cursive;
	font-size: 20px;
}

.do_you_reg_auth {
	font-family: cursive;
	font-size: 20px;
}

footer {
	width: 100vw;
	height: 10vh;
	background: black;
}